---
// Your microfrontend could fail with an error. This is a static version of your microfrontend that will be displayed
// to the user instead.

import { Heading } from "@navikt/ds-react";
import { text } from "@src/language/text";
import type { Language } from "@src/language/types";
import styles from "@src/styles/index.module.css";
import "@src/styles/aksel.css";
import { isLocal } from "../../utils/environment";

const language = Astro.currentLocale as Language;
---

{isLocal && <meta charset="UTF-8" />}
<section class="meldekort-mikrofrontend">
  <div class={styles.microfrontend}>
    <Heading size="medium" level="2">
      {text.tittel[language]}
    </Heading>
    {text.feilmelding[language]}
  </div>
</section>
