.container {
  display: flex;
  flex-direction: column;
  border-radius: var(--ax-radius-8);
  background-color: var(--ax-bg-default) !important;
  box-shadow: 0px 1px 3px 0px #00000026, 0px 0px 1px 0px #00000033;
  width: 100%;
  color: #272727 !important;
  text-decoration: none;
}

.container:hover {
  cursor: pointer;
  box-shadow: var(--ax-shadow-dialog);
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.container:hover h2 {
  text-decoration: underline;
}

.container:focus {
  box-shadow: 0 0 0 3px var(--ax-border-brand-blue-strong);
  outline: none;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  border-bottom: 1px solid lightgray;
}

.chevronContainer {
  display: flex;
}

.warning {
  color: var(--ax-warning-600);
  margin-right: 0.5rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 0.75rem 1rem 1rem 1rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.text {
  color: var(--ax-text-neutral-subtle);
  padding-bottom: 1rem;
}

@media (min-width: 648px) {
  .headerContainer {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
  }

  .contentContainer {
    padding: 1rem 1.25rem 1.25rem 1.25rem;
  }
}
